//
// Venue-detail specific ratings component
//

.amenity_rating {
    max-width: 120px;
    &-icon {
        background: $color-light-green;
        height: 113px;
        // width: 113px;
        text-align: center;
    }
    &-score {
        text-align: center;
        margin: 0 auto;
    }
    
    &-title {
        $subheading-font: 'Raleway';
        text-align: center;
        margin: 0 auto;
    }
}